# Importing Libraries

In [42]:
from turtle import pd
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
import calendar
import time


# Defining Headers and Parametes for the Response

In [43]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:102.0) Gecko/20100101 Firefox/102.0',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8',
    'Accept-Language': 'en-US,en;q=0.5',
    # 'Accept-Encoding': 'gzip, deflate, br',
    'Referer': 'https://www.sebi.gov.in/sebiweb/other/OtherAction.do?doMfdTrendsSearch=yes',
    'Origin': 'https://www.sebi.gov.in',
    'Connection': 'keep-alive',
    'Upgrade-Insecure-Requests': '1',
    'Sec-Fetch-Dest': 'document',
    'Sec-Fetch-Mode': 'navigate',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-User': '?1',
    'Pragma': 'no-cache',
    'Cache-Control': 'no-cache',
    
}

In [44]:
params = {
    'doMfdTrendsSearch': 'yes',
}

# Storing Monthly End Dates

In [45]:
iter_dates=[]
for i in range(2010,2023):
    for j in range (1,13):
        if j<=9:
            iter_dates.append(str(calendar.monthrange(i, j)[1])+"-0"+str(j)+"-"+str(i))
        else:
            iter_dates.append(str(calendar.monthrange(i, j)[1])+"-"+str(j)+"-"+str(i))

In [46]:
iter_dates=iter_dates[:150]

In [47]:
iter_dates

['31-01-2010',
 '28-02-2010',
 '31-03-2010',
 '30-04-2010',
 '31-05-2010',
 '30-06-2010',
 '31-07-2010',
 '31-08-2010',
 '30-09-2010',
 '31-10-2010',
 '30-11-2010',
 '31-12-2010',
 '31-01-2011',
 '28-02-2011',
 '31-03-2011',
 '30-04-2011',
 '31-05-2011',
 '30-06-2011',
 '31-07-2011',
 '31-08-2011',
 '30-09-2011',
 '31-10-2011',
 '30-11-2011',
 '31-12-2011',
 '31-01-2012',
 '29-02-2012',
 '31-03-2012',
 '30-04-2012',
 '31-05-2012',
 '30-06-2012',
 '31-07-2012',
 '31-08-2012',
 '30-09-2012',
 '31-10-2012',
 '30-11-2012',
 '31-12-2012',
 '31-01-2013',
 '28-02-2013',
 '31-03-2013',
 '30-04-2013',
 '31-05-2013',
 '30-06-2013',
 '31-07-2013',
 '31-08-2013',
 '30-09-2013',
 '31-10-2013',
 '30-11-2013',
 '31-12-2013',
 '31-01-2014',
 '28-02-2014',
 '31-03-2014',
 '30-04-2014',
 '31-05-2014',
 '30-06-2014',
 '31-07-2014',
 '31-08-2014',
 '30-09-2014',
 '31-10-2014',
 '30-11-2014',
 '31-12-2014',
 '31-01-2015',
 '28-02-2015',
 '31-03-2015',
 '30-04-2015',
 '31-05-2015',
 '30-06-2015',
 '31-07-2015',
 '31-08-2015',
 '30-09-2015',
 '31-10-2015',
 '30-11-2015',
 '31-12-2015',
 '31-01-2016',
 '29-02-2016',
 '31-03-2016',
 '30-04-2016',
 '31-05-2016',
 '30-06-2016',
 '31-07-2016',
 '31-08-2016',
 '30-09-2016',
 '31-10-2016',
 '30-11-2016',
 '31-12-2016',
 '31-01-2017',
 '28-02-2017',
 '31-03-2017',
 '30-04-2017',
 '31-05-2017',
 '30-06-2017',
 '31-07-2017',
 '31-08-2017',
 '30-09-2017',
 '31-10-2017',
 '30-11-2017',
 '31-12-2017',
 '31-01-2018',
 '28-02-2018',
 '31-03-2018',
 '30-04-2018',
 '31-05-2018',
 '30-06-2018',
 '31-07-2018',
 '31-08-2018',
 '30-09-2018',
 '31-10-2018',
 '30-11-2018',
 '31-12-2018',
 '31-01-2019',
 '28-02-2019',
 '31-03-2019',
 '30-04-2019',
 '31-05-2019',
 '30-06-2019',
 '31-07-2019',
 '31-08-2019',
 '30-09-2019',
 '31-10-2019',
 '30-11-2019',
 '31-12-2019',
 '31-01-2020',
 '29-02-2020',
 '31-03-2020',
 '30-04-2020',
 '31-05-2020',
 '30-06-2020',
 '31-07-2020',
 '31-08-2020',
 '30-09-2020',
 '31-10-2020',
 '30-11-2020',
 '31-12-2020',
 '31-01-2021',
 '28-02-2021',
 '31-03-2021',
 '30-04-2021',
 '31-05-2021',
 '30-06-2021',
 '31-07-2021',
 '31-08-2021',
 '30-09-2021',
 '31-10-2021',
 '30-11-2021',
 '31-12-2021',
 '31-01-2022',
 '28-02-2022',
 '31-03-2022',
 '30-04-2022',
 '31-05-2022',
 '30-06-2022']

In [48]:
final_data = pd.DataFrame(columns =["Trading Date", "Debt/Equity","Gross Purchases(Rs Crore)","Gross Sales(Rs Crore)","Net Investment (Rs Crore)"] )

In [49]:
final_data

Empty DataFrame
Columns: [Trading Date, Debt/Equity, Gross Purchases(Rs Crore), Gross Sales(Rs Crore), Net Investment (Rs Crore)]
Index: []

# Retreiving Data

In [50]:
for date in iter_dates:
    while True:
        try:
            data = {
            'currdate': '17-07-2022',
            'loginflag': '0',
            'searchValue': '',
            'date': date,
            'loginEmail': '',
            'loginPassword': '',
            'cap_login': '',
            'moduleNo': '-1',
            'moduleId': '',
            'link': '',
            'yourName': '',
            'friendName': '',
            'friendEmail': '',
            'mailmessage': '',
            'cap_email': '',
            }
            response = requests.post('https://www.sebi.gov.in/sebiweb/other/OtherAction.do', params=params, headers=headers, data=data)  #Sending the requests to the website
            soup = bs(response.content, "html.parser") #Parsing the content using Beautiful Soup Library
            table_rows = soup.find('table', class_="table table-striped table-bordered table-hover background statistics-table") #Fetching the data from table class
            dfs = pd.read_html(str(table_rows)) #Converted all the objects to strings 
            df = pd.concat(dfs) #Appended
            df = df[:-1]
            column_list = df.columns
            df.drop(columns=[column_list[-1]],inplace=True)
            df=df.iloc[:len(df)-2] #Removing Rows containing Total(Monthly) data
            final_data=final_data.append(df)
            print(date)
        except:
            
            print("Connection refused by the server..")
            
            time.sleep(5)
        break

31-01-2010
28-02-2010
31-03-2010
30-04-2010
31-05-2010
30-06-2010
31-07-2010
31-08-2010
30-09-2010
31-10-2010
30-11-2010
31-12-2010
31-01-2011
28-02-2011
31-03-2011
30-04-2011
31-05-2011
30-06-2011
31-07-2011
31-08-2011
30-09-2011
31-10-2011
30-11-2011
31-12-2011
31-01-2012
29-02-2012
31-03-2012
30-04-2012
31-05-2012
30-06-2012
31-07-2012
31-08-2012
30-09-2012
31-10-2012
30-11-2012
31-12-2012
31-01-2013
28-02-2013
31-03-2013
30-04-2013
31-05-2013
30-06-2013
31-07-2013
31-08-2013
30-09-2013
31-10-2013
30-11-2013
31-12-2013
31-01-2014
28-02-2014
31-03-2014
30-04-2014
31-05-2014
30-06-2014
31-07-2014
31-08-2014
30-09-2014
31-10-2014
30-11-2014
31-12-2014
31-01-2015
28-02-2015
31-03-2015
30-04-2015
31-05-2015
30-06-2015
31-07-2015
31-08-2015
30-09-2015
31-10-2015
30-11-2015
31-12-2015
31-01-2016
29-02-2016
31-03-2016
30-04-2016
31-05-2016
30-06-2016
31-07-2016
31-08-2016
30-09-2016
31-10-2016
30-11-2016
31-12-2016
31-01-2017
28-02-2017
31-03-2017
30-04-2017
31-05-2017
30-06-2017
31-07-2017
31-08-2017
30-09-2017
31-10-2017
30-11-2017
31-12-2017
31-01-2018
28-02-2018
31-03-2018
30-04-2018
31-05-2018
30-06-2018
31-07-2018
31-08-2018
30-09-2018
31-10-2018
30-11-2018
31-12-2018
31-01-2019
28-02-2019
31-03-2019
30-04-2019
31-05-2019
30-06-2019
31-07-2019
31-08-2019
30-09-2019
31-10-2019
30-11-2019
31-12-2019
31-01-2020
29-02-2020
31-03-2020
30-04-2020
31-05-2020
30-06-2020
31-07-2020
31-08-2020
30-09-2020
31-10-2020
30-11-2020
31-12-2020
31-01-2021
28-02-2021
31-03-2021
30-04-2021
31-05-2021
30-06-2021
31-07-2021
31-08-2021
30-09-2021
31-10-2021
30-11-2021
31-12-2021
31-01-2022
28-02-2022
31-03-2022
30-04-2022
31-05-2022
30-06-2022

# Transforming the Data

In [51]:
final_data=final_data.drop(columns=["Net Investment (Rs Crore)"])

In [52]:
final_data['Gross Purchases(Rs Crore)'] = final_data['Gross Purchases(Rs Crore)'].astype(float) #Conevrted Str to float

In [53]:
final_data['Gross Sales(Rs Crore)'] = final_data['Gross Sales(Rs Crore)'].astype(float)

In [54]:
final_data["Net Investment (Rs Crore)"]=final_data['Gross Purchases(Rs Crore)']-final_data['Gross Sales(Rs Crore)']

In [55]:
Equity =final_data[final_data['Debt/Equity']=='Equity'] #Divided the data into equity and Debt
Debt  =final_data[final_data['Debt/Equity']=='Debt']

In [56]:
Debt

,Trading Date,Debt/Equity,Gross Purchases(Rs Crore),Gross Sales(Rs Crore),Net Investment (Rs Crore)
1,"01 Jan, 2010",Debt,3571.80,686.30,2885.50
3,"04 Jan, 2010",Debt,10096.96,1492.73,8604.23
5,"05 Jan, 2010",Debt,8066.23,3961.25,4104.98
7,"06 Jan, 2010",Debt,3953.11,3353.21,599.90
9,"07 Jan, 2010",Debt,5037.53,3617.58,1419.95
...,...,...,...,...,...
35,"24 Jun, 2022",Debt,7678.84,7390.87,287.97
37,"27 Jun, 2022",Debt,8721.75,8845.83,-124.08
39,"28 Jun, 2022",Debt,5533.64,6101.43,-567.79
41,"29 Jun, 2022",Debt,5910.97,6854.40,-943.43
43,"30 Jun, 2022",Debt,4678.41,5690.34,-1011.93

In [57]:
Equity.to_excel("Equity.xlsx")
Debt.to_excel("Debt.xlsx")